# READ-ONLY: Use 'exo' CLI to modify this file.
# Implementation Plan

[phase]
id = "27"
title = "Workspace & Constellations"
rfcs = ["0026"]

[plan]
[[plan.changes]]
name = "First Step"
type = "feat"
details = "Description"
files = []
tests = []

[verification]
automated = ["Run scripts/verify-phase.sh"]
manual = []
