[package]
name = "locald-cli"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
clap = { version = "4.5.53", features = ["derive"] }
locald-core = { version = "0.1.0", path = "../locald-core" }
serde_json = "1.0.145"
toml = "0.9.8"
